:root {
  --font-color: rgba(27, 25, 25, 0.667);
  --branding-color: linear-gradient(
    to bottom,
    rgba(235, 206, 128, 0.52),
    rgba(199, 87, 171, 0.73)
  );
  --secondary-color: #b470a2;
  --box-shadow: 0 5px 10px rgba(112, 106, 106, 0.3);
  --primary-font-family: "Besley", serif;
  --secondary-font-family: "Kaisei HarunoUmi", serif;
}

body {
  font-family: var(--secondary-font-family);
}

.navbar-brand img {
  max-width: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font-family);
  font-weight: bold;
  color: var(--font-color);
}

h1 {
  font-size: 80px;
  line-height: 1.5;
}

p {
  font-family: var(--secondary-font-family);
  font-weight: normal;
  font-size: 16px;
  color: var(--font-color);
}

/*     HOMEPAGE     */

.hero {
  background: var(--branding-color);
  text-align: center;
  padding: 50px;
  line-height: 1.5;
}

.hero p {
  font-size: 35px;
  font-weight: bold;
}

.hero h2 {
  font-family: var(--primary-font-family);
  font-weight: normal;
  font-size: 22px;
  line-height: 1.5;
}

.btn-branding {
  background: var(--secondary-color);
  color: white;
  border-radius: 15px;
  font-size: 20px;
  font-family: var(--secondary-font-family);
  padding: 18px 20px;
  box-shadow: var(--box-shadow);
  transition: ease-in-out;
}

.btn-branding:hover {
  background-color: rgb(153, 96, 153);
}

.header-center {
  margin-top: 45px;
  text-align: center;
}

.hr-header-center {
  width: 12%;
  margin: 0 auto;
  border-top: 4px solid var(--secondary-color);
}

.btn-branding-outline {
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
  font-family: var(--secondary-font-family);
  color: var(--secondary-color);
}

.project-example {
  padding: 36px 23px;
}

.project-example img {
  padding: 10px 58px;
}

.project-example a {
  text-decoration: none;
}

/*       FOOTER SECTION    */

footer .contact {
  background: var(--branding-color);
  border-radius: 10px;
  margin-top: 71px;
  margin: 55px;
  padding: 28px 72px;
  color: var(--font-color);
}

footer h4 {
  font-size: 47px;
}

.connect-links {
  margin-top: 55px;
}

.social-links a {
  margin: 30px 25px;
  background: var(--secondary-color);
  color: white;
  padding: 8px 14px;
  font-size: 25px;
  border-radius: 30%;
}

.source {
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
}

/*       BiO PAGE       */

.main-container {
  height: 65vh;
  background: var(--branding-color),
    url("../images/background.png") no-repeat center fixed;
  display: flex;
  align-items: center;
  position: relative;
}

.opaque-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--branding-color);
}

.bio-section {
  padding: 30px 40px;
  margin-top: 70px;
}

.bio-section h1 {
  font-size: 55px;
}

.hr-bio {
  width: 40%;
  display: block;
  border-top: 4px solid var(--secondary-color);
}

.bio-section img {
  border-radius: 50px;
  max-width: 400px;
  padding: 40px 30px;
  margin-left: 34px;
}

.bio-content {
  padding: 10px;
  margin-left: 80px;
}

/*      Work Page     */

.work-section {
  margin-top: 25px;
  text-align: center;
}

.work-section h1 {
  font-size: 50px;
  font-family: var(--primary-font-family);
}

.hr-work-section {
  width: 10%;
  margin: 0 auto;
  border-top: 4px solid var(--secondary-color);
}

.my-project {
  padding-top: 20px;
}

.my-project img {
  padding: 15px 79px;
}

.project-description {
  padding: 0 6px;
  margin-top: 25px;
}

.fa-long-arrow-alt-right {
  font-size: 40px;
  color: var(--secondary-color);
}

/*        CONTACT PAGE       */
.contact {
  padding-top: 55px;
}

.contact h1 {
  font-size: 55px;
}

.contact hr {
  width: 40%;
  display: block;
  border-top: 4px solid var(--secondary-color);
}

.contact-details {
  padding: 20px 33px;
}

.form-control-box {
  margin-top: 90px;
  margin-bottom: 30px;
  padding-bottom: 80px;
}

.btn-branding-form {
  background: var(--secondary-color);
  color: white;
  font-size: 18px;
  border-radius: 10px;
  padding: 15px 45px;
}

/*       MEDIA RESPONSIVE SECTION      */

@media (max-width: 900px) {
  .hero h1,
  .bio-section h1 {
    font-size: 45px;
  }
  .hero h2 {
    font-size: 20px;
  }
  .hero {
    padding: 70px 20px;
  }
  .project-description,
  .bio-section {
    text-align: center;
  }
  .bio-content {
    padding: 0;
    margin-left: 0;
  }
}
