:root {
  --branding-color: rgba(197, 134, 134, 0.432);
  --secondary-color: #d1a5c3;
  --primary-font-family: "Kaisei HarunoUmi", serif;
  --secondary-font-family: "Besley", serif;
  --box-shadow: 0 5px 10px rgba(112, 106, 106, 0.3);
}

body {
  font-family: var(--secondary-font-family);
}

.navbar-brand img {
  max-width: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font-family);
  font-weight: bold;
}

h1 {
  font-size: 80px;
  line-height: 1.5;
}

p {
  font-family: var(--secondary-font-family);
  font-weight: normal;
  font-size: 16px;
}

/* Hero Section (HOMEPAGE)*/

.hero {
  background: var(--branding-color);
  text-align: center;
  padding: 50px;
  line-height: 1.5;
  color: #5a6160;
}

.hero p {
  font-size: 35px;
  font-weight: bold;
}

.hero h2 {
  font-family: var(--primary-font-family);
  font-weight: normal;
  font-size: 22px;
  line-height: 1.5;
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 15px;
  color: white;
  font-size: 20px;
  font-family: var(--secondary-font-family);
  padding: 18px 20px;
  box-shadow: var(--box-shadow);
}

.header-center {
  margin-top: 45px;
  text-align: center;
}

.hr-header-center {
  width: 9%;
  display: block;
  margin: 0 auto;
  border: 2px solid var(--secondary-color);
}

.btn-branding-outline {
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
  font-family: var(--secondary-font-family);
  color: var(--secondary-color);
}

.feature-project {
  padding-top: 25px;
}

.feature-project img {
  max-width: 500px;
  padding: 10px;
  margin-left: 80px;
}

.project-description {
  padding: 7px 58px;
}
/* Footer Section*/

footer .contact {
  background: var(--branding-color);
  border-radius: 10px;
  margin-top: 71px;
  padding: 28px 72px;
}

footer h4 {
  font-size: 47px;
}

.connect-links {
  margin-top: 30px;
}

.social-links a {
  margin: 30px 25px;
  background: var(--secondary-color);
  color: white;
  padding: 8px 14px;
  font-size: 25px;
  border-radius: 30%;
}

.source {
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
}

/* Bio Page */

.main-container {
  height: 65vh;
  background: url("../images/background.png") no-repeat center fixed;
  display: flex;
  align-items: center;
  position: relative;
}

.opaque-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--branding-color);
}

.bio-section {
  padding: 30px 40px;
  margin-top: 70px;
}

.bio-section h1 {
  font-size: 55px;
}

.hr-bio {
  width: 40%;
  display: block;
  border: 2px solid var(--secondary-color);
}

.bio-section img {
  border-radius: 50px;
  max-width: 400px;
  padding: 40px 30px;
  margin-left: 34px;
}

.bio-content {
  padding: 10px;
  margin-left: 80px;
}

/* MEDIA */
@media (max-width: 900px) {
  .hero h1, .bio-section h1 {
    font-size: 45px;
  }
  .hero h2 {
    font-size: 20px;
  }
  .hero {
    padding: 70px 20px;
  }
  .project-description,
  .bio-section {
    text-align: center;
  }
  .bio-content {
    padding: 0;
    margin-left: 0;
  }
}
